body{
    background-color: #b3d8a8;
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    position: absolute ;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #3d8d7a;
    color : #fbffe4;
    font-size: x-large;
}

#map{
    width: 90%;
    height: 500px;
    justify-content: center;
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
}